{% set attributes = create_attribute() %}
<details {{ attributes.addClass(['disclosure']|merge(utility_classes ? utility_classes : []))}}>
  {% if summary %}
    <summary class="disclosure-summary">{{- summary -}}</summary>
  {% endif %}
  <div class="disclosure-body">
    {{- body|raw -}}
  </div>
</details>